.contact {
  margin-top: $lg-spacing;
  margin-bottom: $lg-spacing;
  overflow: hidden;

  .contact-content {
    .contact-text {
      margin-top: $base-spacing;
      margin-bottom: $base-spacing;
    }

    .contact-button-row {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      a {
        margin: $base-spacing 0;
        text-decoration: none;
        height: 50px;
        width: 50px;
        border-radius: 10px;
        border: 2px solid $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        background: white;
        color: $color-primary;
      }
    }

    .contact-form {
      display: flex;
      flex-direction: column;
      gap: $base-spacing;
      text-align: left;
      margin-top: $base-spacing;

      .form-group {
        display: flex;
        flex-direction: column;

        label {
          font-weight: 600;
          margin-bottom: $xs-spacing;
          color: #333;
        }

        input,
        textarea {
          font-family: inherit;
          padding: $sm-spacing;
          border: 1px solid #ccc;
          border-radius: 8px;
          font-size: 1rem;
          transition: border 0.3s ease, box-shadow 0.3s ease;

          &:focus {
            border-color: $color-primary;
            outline: none;
            box-shadow: 0 0 5px 3px rgba(0 0 0 / 0.05);
          }
        }

        textarea {
          resize: vertical;
        }
      }

      .contact-submit {
        align-self: flex-start;
        background: $color-primary;
        color: #fff;
        border: none;
        padding: $sm-spacing $base-spacing;
        border-radius: 15px;
        cursor: pointer;
        font-size: $base-font-size;
        font-family: inherit;
        margin: auto;
      }
    }
  }
}
