.footer {
  background: black;
  border-radius: $base-border-radius $base-border-radius 0 0;
  margin-top: $lg-spacing;

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: $md-spacing;
    padding-bottom: $md-spacing;

    .footer-logo {
      max-width: 100%;
      height: 100px;
    }

    a {
      text-decoration: none;
      color: white;
      margin-top: $xs-spacing;
      margin-bottom: $xs-spacing;
    }

    .footer-contact-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: $base-spacing;
    }

    .footer-socialmedia-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: $md-spacing;
      margin-top: $base-spacing;

      i {
        font-size: 30px;
      }
    }

    .footer-legal-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: $base-spacing;
    }
  }
}
