.gallery {
  margin-top: $lg-spacing;
  margin-bottom: $lg-spacing;

  .gallery-mobile-item {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;

    img {
      max-width: 100%;
      transform: scale(1);
      transition: transform 0.35s ease-out;
      will-change: transform;
    }

    &.is-centered {
      img {
        transform: scale(1.05);
      }

      .gallery-mobile-item-overlay {
        display: flex;
      }
    }

    &-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.4);
      display: none;

      h3 {
        max-width: 70%;
        color: $color-primary;
      }
    }
  }

  /* Mobile only */
  @media (min-width: 768px) {
    .gallery-mobile-item img {
      transform: none !important;
    }
  }
}
