.home-hero.initialized {
  opacity: 1;
}

.hero {
  .hero-image {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
