.hero.initialized .hero-image {
  opacity: 1;
}

.hero {
  position: relative;
  .hero-image {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .hero-bottom-gradient {
    position: absolute;
    height: 35%;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, transparent 0%, white 100%);
  }
}
