// .hero.initialized .hero-image {
//   opacity: 1;
// }

.hero {
  position: relative;
  scroll-margin-top: $scroll-offset;

  .hero-image {
    // opacity: 0;
    // transition: opacity 0.1s ease-in-out;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: calc(100vh - 50px) !important;
    object-fit: cover;
    aspect-ratio: 555 / 637;

    @include media-breakpoint-up-md {
      aspect-ratio: 2360 / 1575;
      max-height: calc(100vh - 70px) !important;
    }
  }

  .hero-bottom-gradient {
    position: absolute;
    height: 35%;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, transparent 0%, white 100%);

    @include media-breakpoint-up-md {
      height: 20%;
    }
  }

  .hero-image-mobile {
    @include media-breakpoint-up-sm {
      display: none;
    }
  }

  .hero-image-desktop {
    @include media-breakpoint-down-md {
      display: none;
    }
  }

  .hero-image-tablet {
    @include media-breakpoint-down-sm {
      display: none;
    }

    @include media-breakpoint-up-md {
      display: none;
    }
  }
}
