.hero.initialized .hero-image {
  opacity: 1;
}

.hero {
  position: relative;
  scroll-margin-top: $scroll-offset;

  .hero-image {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 92.5vh;
    min-height: calc(100vw * 0.48) !important;
    object-fit: cover;
  }

  .hero-bottom-gradient {
    position: absolute;
    height: 35%;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, transparent 0%, white 100%);
  }

  .hero-image-mobile {
    @include media-breakpoint-up-lg {
      display: none;
    }
  }

  .hero-image-desktop {
    @include media-breakpoint-down-lg {
      display: none;
    }
  }
}
