.members {
  // margin-top: $base-spacing;
  // margin-bottom: $base-spacing;
  // display: flex;
  // flex-direction: column;

  // &-title {
  //   margin-bottom: $base-spacing;
  // }

  // &-text {
  //   margin-top: $base-spacing;
  //   margin-bottom: $base-spacing;
  // }

  &-cards {
    --img-w: 200px;
    --duration: 300ms;
    --img-easing: cubic-bezier(0.34, 1.56, 0.64, 1);
    width: min(100% - 4rem, 800px);
    margin-inline: auto;
    display: grid;
    position: relative;

    margin-top: 40px;
    margin-bottom: 40px;
  }

  &-card {
    grid-area: 1/1;
    display: grid;
    place-items: center;
    transition: transform var(--duration) ease-in-out, opacity var(--duration);

    opacity: 0;
    z-index: 0;
    pointer-events: none;
  }

  &-card.active {
    opacity: 1;
    z-index: 10;
    pointer-events: auto;
    --angle: 0deg;
  }

  &-card.next {
    z-index: 5;
  }

  &-card-img {
    width: 200px;
    height: 200px;
    aspect-ratio: 1 / 1;
    rotate: var(--angle, 0deg);
    border-radius: 10px;
    border: 3px solid #fff;
    object-fit: cover;
    box-shadow: 0 0 5px 3px rgba(0 0 0 / 0.05);
    transition: transform var(--duration) var(--img-easing),
      rotate var(--duration) var(--img-easing);
  }

  &-card-footer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
  }

  &-card-footer button {
    cursor: pointer;
    border: none;
    color: #000;
    background-color: #eee;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: grid;
    place-content: center;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  }

  &-card-footer button:hover {
    color: #fff;
    background-color: steelblue;
  }
}
