.navbar {
  position: fixed;
  top: $sm-spacing;
  left: $sm-spacing;
  //   max-height: calc(100px - #{$sm-spacing} * 2);
  width: calc(100% - #{$sm-spacing} * 2);
  z-index: 100;

  &-content {
    padding: $sm-spacing;
    border-radius: $base-border-radius;
    height: fit-content;
    position: relative;
  }

  &-shadow {
    background: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    box-shadow: 0 1px 10px rgba(50, 59, 64, 0.15);
    border-radius: 10px;
    opacity: 0;
    transition: 0.2s opacity ease-in-out;
    z-index: -1;
  }

  &-row {
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100px - #{$sm-spacing} * 4);
  }

  img {
    height: 100%;
  }

  .burger-btn {
    background-color: transparent;
    max-height: 100%;
    height: 35px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
    padding: 0;

    span {
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 1px;
      background: $color-text;
      transition: background-color 0.3s ease-in-out, rotate 0.3s ease-in-out;
      position: relative;
    }

    span + span {
      margin-top: 8px;
    }
  }

  &-open-content {
    height: 400px;
    max-height: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s max-height ease-in-out;
  }

  &.sticky {
    .navbar-shadow {
      opacity: 1;
    }
  }

  &.open {
    .navbar-open-content {
      max-height: 400px;
    }

    .burger-btn {
      span:nth-child(1) {
        animation: ease 0.7s top forwards;
      }

      span:nth-child(2) {
        animation: ease 0.7s middle forwards;
      }

      span:nth-child(3) {
        animation: ease 0.7s bottom forwards;
      }

      @keyframes top {
        0% {
          top: 0;
          transform: rotate(0);
        }
        50% {
          top: 11px;
          transform: rotate(0);
        }
        100% {
          top: 11px;
          transform: rotate(45deg);
        }
      }

      @keyframes bottom {
        0% {
          bottom: 0;
          transform: rotate(0);
        }
        50% {
          bottom: 11px;
          transform: rotate(0);
        }
        100% {
          bottom: 11px;
          transform: rotate(135deg);
        }
      }

      @keyframes middle {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }

  &.closed {
    .burger-btn {
      span:nth-child(1) {
        animation: ease 0.7s top-2 forwards;
      }

      span:nth-child(2) {
        animation: ease 0.7s middle-2 forwards;
      }

      span:nth-child(3) {
        animation: ease 0.7s bottom-2 forwards;
      }

      @keyframes top-2 {
        0% {
          top: 11px;
          transform: rotate(45deg);
        }
        50% {
          top: 11px;
          transform: rotate(0deg);
        }
        100% {
          top: 0;
          transform: rotate(0deg);
        }
      }
      @keyframes bottom-2 {
        0% {
          bottom: 11px;
          transform: rotate(135deg);
        }
        50% {
          bottom: 11px;
          transform: rotate(0);
        }
        100% {
          bottom: 0;
          transform: rotate(0);
        }
      }

      @keyframes middle-2 {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
}
