.setlist {
  margin-top: $lg-spacing;
  margin-bottom: $lg-spacing;
  scroll-margin-top: $scroll-offset;

  &-text {
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
  }

  &-button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
      margin: $base-spacing 0;
      text-decoration: none;
      border-radius: $sm-border-radius;
      border: 2px solid $color-primary;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      background: white;
      color: $color-primary;
      gap: 10px;
      padding: 10px 13px;  
    }
  }
}
