.socialmedia {
  background: $color-primary;
  display: flex;
  margin-top: $lg-spacing;
  margin-bottom: $lg-spacing;
  padding-top: $lg-spacing;
  padding-bottom: $lg-spacing;
  scroll-margin-top: $scroll-offset;

  @include media-breakpoint-up-lg {
    margin-top: $xl-spacing;
    margin-bottom: $xl-spacing;
  }

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      color: black;
      font-size: $lg-mobile-font-size;
      max-width: 180px;
      margin-bottom: $base-spacing;

      @include media-breakpoint-up-md {
        font-size: $lg-font-size;
        max-width: none;
      }
    }
  }

  &-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: $lg-spacing;

    a {
      color: black;
      font-size: $xl-mobile-font-size;

      @include media-breakpoint-up-lg {
        i {
          transition: transform 0.25s ease-in-out;
        }

        &:hover {
          i {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
