.socialmedia {
  background: $color-primary;
  display: flex;
  margin-top: $lg-spacing;
  margin-bottom: $lg-spacing;
  padding-top: $lg-spacing;
  padding-bottom: $lg-spacing;
  scroll-margin-top: $scroll-offset;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      color: black;
      font-size: $lg-mobile-font-size;
      max-width: 180px;
      margin-bottom:$base-spacing ;

      @include media-breakpoint-up-md {
        font-size: $lg-mobile-font-size;
      }
    }
  }

  &-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: $lg-spacing;

    a {
      color: black;
      font-size: $xl-mobile-font-size;
    }
  }
}
