/********** 
 1. Default  Styles 
**********/
@use 'sass:math';

body:not(.loaded) * {
  transition: none !important;
  animation: none !important;
}

/*Font */
body {
  font-size: $base-font-size;
  font-weight: $regular-font-weight;
  letter-spacing: $base-letter-spacing;
  color: $color-text;
  background: $color-white;
  margin: 0 !important;
  cursor: none;
}

h1 {
  font-size: $xl-font-size;
  line-height: 1.2;
  font-weight: $semibold-font-weight;
  letter-spacing: $xl-letter-spacing;
  color: $color-primary;
  text-transform: uppercase;
}