/********** 
 1. Default  Styles 
**********/
@use 'sass:math';

body:not(.loaded) * {
  transition: none !important;
  animation: none !important;
}

/*Font */
body {
  font-size: $base-font-size;
  font-weight: $regular-font-weight;
  letter-spacing: $base-letter-spacing;
  color: $color-text;
  background: $color-white;
  margin: 0 !important;
  cursor: none;
}

p {
  font-size: $base-font-size;
  line-height: 1.3;
  margin: 0;
  color: $color-text;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.2;
  font-weight: $semibold-font-weight;
  letter-spacing: $xl-letter-spacing;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

h1,
.h1 {
  font-size: $xxl-font-size;
  color: $color-primary;
  line-height: 1.1;

  @include media-breakpoint-down-md {
    font-size: $xxl-mobile-font-size;
  }
}

h2,
.h2 {
  font-size: $xl-font-size;
  color: $color-primary;

  @include media-breakpoint-down-md {
    font-size: $xl-mobile-font-size;
  }
}

h3,
.h3 {
  font-size: $lg-font-size;
  color: $color-text;

  @include media-breakpoint-down-md {
    font-size: $lg-mobile-font-size;
  }
}

h4,
.h4 {
  font-size: $base-font-size;
  color: $color-text;
}
