// Font Variables
// $font-primary: var(--font-open-sans);
// $font-secondary: 'Minion Pro', sans-serif;

$xs-font-size: 12.5px;
$sm-font-size: 13.876px;
$base-font-size: 14.84px;
$lg-font-size: 21.387px;
$xl-font-size: 32.031px;

$light-font-weight: 200;
$regular-font-weight: 400;
$semibold-font-weight: 600;
$bold-font-weight: 700;

$base-letter-spacing: 0.02em;
$lg-letter-spacing: 0.03em;
$xl-letter-spacing: 0.06em;

//Colors Variables

$color-white: #fff;

$color-primary: #c66e7e; //198,110,126
$color-secondary: #be9b8a; //190,155,138
$color-anchor: #c9003e; //201,0,62
$color-background: #ffffff;
$color-text: #000;

$default-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

$base-padding: 1.4rem;

$base-margin: 18.5px;

//Others Varibles
$base-border-width: 1px;
$base-border-radius: 8px;