// Font Variables
// $font-primary: var(--font-open-sans);
// $font-secondary: 'Minion Pro', sans-serif;

$sm-font-size: 13px;
$base-font-size: 15px;
$md-mobile-font-size: 20px;
$md-font-size: 25px;
$lg-mobile-font-size: 23px;
$lg-font-size: 30px;
$xl-mobile-font-size: 40px;
$xl-font-size: 50px;
$xxl-mobile-font-size: 60px;
$xxl-font-size: 70px;

$light-font-weight: 200;
$regular-font-weight: 300;
$semibold-font-weight: 600;
$bold-font-weight: 700;

$base-letter-spacing: 0.02em;
$lg-letter-spacing: 0.03em;
$xl-letter-spacing: 0.06em;

//Colors Variables

$color-white: #fff;

$color-primary: #d9c489; //198,110,126
$color-secondary: #000; //190,155,138
$color-anchor: #fff; //201,0,62
$color-background: #ffffff;
$color-text: #000;

$default-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

$xs-spacing: 0.4rem;
$sm-spacing: 0.7rem;
$base-spacing: 1.4rem;
$md-spacing: 2.4rem;
$lg-spacing: 3.4rem;


//Others Varibles
$base-border-width: 1px;
$base-border-radius: 8px;